.fullpage-box {
  min-height: 100%;
  position: relative;

  #fp-nav {
    @media @screen-md-max {
      display: none;
    }
  }
}

.section {
  overflow: hidden;
  position: relative;
  padding-top: 80px;

  @media @screen-sm-max {
    padding-top: 60px;
  }
}

/* Intro section */
.intro-section {
  padding-top: 0;
  .title-block {
  }
}

/* About section */
.about-section {
  background: white;

  @media @screen-md-min {
    background: transparent;
  }
  .container {
    @media @screen-md-max {
      padding: 0;
    }
  }

  .flex-container {// add inner class!
    justify-content: space-around;
    text-align: center;
  }

  .info-block {
    position: relative;
    width: auto;
    margin-bottom: 0;
    padding: 30px;
    background: #fff;

    @media @screen-md-min {
      width: 33.3333333%;
      padding: 50px;
      margin-bottom: 60px;
    }

    @media @screen-md-min {
      margin-bottom: 0;
    }

    &:nth-child(1) {
        left: -130%;
    }

    &:nth-child(3) {
        right: -130%;
    }

    &:last-child {
      margin-right: 0;
    }

    .info-block-icon {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-height: 100%;
      margin-bottom: 20px;

      img {
        display: inline-block;
        max-width: 132px;
        max-height: 132px;
      }
    }
  }
}

/* Timeline-section */
.timeline-section {
  background: @light-grey;

  &.active {
    li {
      .timeline-item {
        transform: none;
        visibility: visible;
        opacity: 1;
      }

      &:nth-child(odd) {
        .timeline-item {
          right: 50px;

          @media screen and @screen-sm-max {
            right: -30px;
          }

          @media @screen-sm-min and @screen-lg-max{
            right: -40px;
          }

          @media @screen-lg-min {
            transform: translate3d(100px, 0, 0);
          }
        }
      }

      &:nth-child(even) {
        .timeline-item {
          left: -350px;

          @media screen and @screen-sm-max {
            right: 20px;
            left: auto;
            transform: translate3d(50px, 0, 0);
          }

          @media @screen-sm-min and @screen-lg-max{
            left: -380px;
            right: auto;
          }

          @media @screen-lg-min {
            transform: translate3d(-100px, 0, 0);
          }
        }
      }
    }
  }
}

/* Testimonials section */
.testimonials-section {
  background: @light-grey;

  .icon-quotes {
    display: inline-block;
    width: 46px;
    height: 46px;
    background: url("../images/icon-quotes.png");
  }
}

/* Contacts-section */
.contacts-section {
  .contact-us {
    display: block;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 20px;

    @media @screen-sm-max {
      font-size: 32px;
    }
  }
}

