.transition (@function: ease-in-out; @duration: 0.5s; @property: all; @delay: 0.5s) {
  transition-timing-function: @function;
  transition-duration: @duration;
  transition-property: @property;
  transition-delay: @delay;
}

.boxShadow (@x: 1px, @y: 1px, @blur: 13px, @spread: -8px) {
  box-shadow: @x @y @blur @spread rgb(0, 0, 0);
}