/* Fonts */
@font-family-base:  'Open Sans', Arial, sans-serif;
@font-family-title: 'Fredericka the Great', cursive;

@font-size-base: 16px;
@font-size-medium: 18px;
@font-size-h1: 60px;
@font-size-h2: 48px;
@font-size-h2-small: 32px;

@line-height-base: 1.4;
@header-line-height: 72px;
@header-small-line-height: 52px;

/* Colors */
@text-color: #333;
@title-color: #535353;

/* Backgrounds */
@link-color: #259ac4;
@light-blue: #62bad9;

@box-shadow-header: 5px 3px 25px -15px;
@header-height: 80px;
@header-small-height: 60px;

/* Breakpoints */
@screen-lg-min: ~'(min-width: 1200px)';
@screen-lg-max: ~'(max-width: 1199px)';
@screen-ms-max: ~'(max-width: 1024px)';
@screen-md-min: ~'(min-width: 993px)';
@screen-md-max: ~'(max-width: 992px)';
@screen-sm-min: ~'(min-width: 768px)';
@screen-sm-max: ~'(max-width: 767px)';
@screen-xs-max: ~'(max-width: 520px)';
@screen-xs-min: ~'(min-width: 520px)';
@screen-480-max: ~'(max-width: 480px)';